* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.search-container input:focus {
  outline: 2px solid #ff8300;
}

body {
  background: linear-gradient(to right, #ffce01, #ff8300 70%);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.search-container {
  /* background-color: aqua; */
  margin-top: 35vh;
}

/* .search-container input,
.search-container .suggestions {
} */

.search-container input {
  /* background-color: aqua; */
  font-size: 1.2rem;
  border: none;
  border-bottom: 3px solid #ff8300;
  border-radius: 5px;
  height: 6vh;
  width: 30vw;
  padding-left: 9px;
  background-color: rgba(255, 247, 222, 0.3);
}

.search-container .suggestions {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  width: 30vw;
  background-color: rgba(255, 247, 222, 0.3);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* FOR BOLDED TEXT WHEN INPUT MATCHES CHAR IN RESULT */
ul.has-suggestions {
  /* TODO */
}

ul li {
  font-size: 1rem;
  padding: 13px 5px;
}

ul li:hover {
  background-color: #ff8300;
}

/* input {
} */
